 <div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <h2 class="index-title">
      未達成一覧
    </h2>
    <div class="date-index">
      <div class="list-index" >
        <h3>
          やりたい事
        </h3>

        <% if @deadlines.present? %>
          <% @deadlines.each do |deadline| %> 
            <div class="deadline-list">
              <div class="achieve-title">
                <i class="fas fa-running"></i>
                
                <%= link_to truncate(deadline.list.list_title, :length => 28), profile_category_list_path(@user.profile.id, deadline.list.category.id, deadline.list.id), class:"deadline-btn" %>
              </div>
              <div class="list-info">
                <%= deadline.list_deadline_date.strftime('%Y/%m/%d') %>   <%= deadline.list_deadline_time.strftime( "%H:%M" ) %> 
                <%= link_to '達成！', done_profile_category_list_list_deadline_path( @user.profile.id, deadline.list.category.id, deadline.list.id, deadline.id), method: :post, class:"deadline-btn achieve" %>
              </div>
            </div>
          <% end %>
        <% else %>
          未達成のリストはありません。
        <% end %>
      </div>


      <div class="process-index">
        <h3>
          プロセス
        </h3>
        <% if @list_reminds.present? %>
          <% @list_reminds.each do |list_remind| %>
            <div class="process-list">
              <div class="achieve-title">
                <i class="fas fa-running"></i>
                
                <%= link_to truncate(list_remind.list_remind_title, :length => 31), profile_category_list_list_remind_path(@user.profile.id, list_remind.list.category.id, list_remind.list.id, list_remind.id), class:"deadline-btn" %>
              </div>
              <div class="list-info">
                <div class="list-date">
                  <%= list_remind.list_remind_date.strftime('%Y/%m/%d') %>  <%= list_remind.list_remind_time.strftime( "%H:%M" )%>    
                </div>
                <%= link_to '達成！', done_profile_category_list_list_remind_path( @user.profile.id, list_remind.list.category.id, list_remind.list.id, list_remind.id), method: :post, class:"deadline-btn achieve" %>
              </div>
            </div>
          <% end %>
        <% else %>
          未達成のプロセスはありません。  
        <% end %>
      </div> 
    </div> 
  </div>
</div>  

  