<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="contents">
      <%= form_with model: @list, url: profile_category_list_path(@user.profile.id, @category.id, @list.id), local: true do |f| %>
        <div class='form-wrap'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              リスト修正
            </h1>
          </div>

          <%= render 'shared/error_messages', model: @list %>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">カテゴリ選択</label>
            </div>
            <%= f.collection_select(:category_id, Category.where(profile_id: @user.profile.id), :id, :category_name, {selected: @category.id}, {class:"select-box", id:"category-name"}) %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">やりたい事※必須</label>
            </div>
            <%= f.text_area  :list_title, class:"input-default", id:"list_title", placeholder:"100文字以下", maxlength:"100", autofocus: true %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">やりたい事の詳細</label>
            </div>
            <%= f.text_area  :list_detail, class:"input-default", id:"list_detail", placeholder:"詳細の内容を記録できます" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">優先度（大・中・小から選んでください）※設定は任意です。</label>
            </div>
            <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"priority"}) %>
          </div>
          <div class='register-btn'>
            <%= f.submit "修正内容を保存する" ,class:"register-red-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

