<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="contents">

      <div class='form-header'>
        <h2 class='form-header-text'>
          リスト新規作成
        </h2>
      </div>

      <%= form_with model: @list, url: profile_category_lists_path(@user.profile.id, @category.id), local: true do |f| %>
        <div class='form-wrap'>

          <%= render 'shared/error_messages', model: @list %>
          
          <div class="profile-show">
            <%# リストテーブルに保存する情報 %>
            <div class="profile-box">
              <div class='profile-title'>
                <label class="form-text">カテゴリ選択</label> 
              </div>
              <div class='category-select-box'>
                <%= f.collection_select(:category_id, Category.where(profile_id: @user.profile.id), :id, :category_name, {selected: @category.id}, {class:"select-box", id:"category-name"}) %>
              </div>
            </div>
            <div class="profile-boxp">
              <div class='profile-title'>
                <label class="form-text">やりたい事※必須</label>
              </div>
              <%= f.text_area  :list_title, class:"profile-content", id:"list_title", placeholder:"100文字以下", maxlength:"100", autofocus: true %>
            </div>
            <div class="profile-box">
              <div class='profile-title'>
                <label class="form-text">やりたい事の詳細</label>
              </div>
              <%= f.text_area  :list_detail, class:"profile-content", id:"list_detail", placeholder:"詳細の内容を記録できます" %>
            </div>
            <div class="profile-box">
              <div class='profile-title'>
                <label class="form-text">優先度</label>
              </div>
              <div class="priority-select-box">
                <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"priority"}) %>
              </div>
            </div>
            <%# /リストテーブルに保存する情報 %>

            <%# list_list_deadlineテーブルに保存する情報 %>

            <div class="profile-box">
              <div class='profile-title'>
                <label class="form-text">達成目標日※必須</label>
              </div>
              <div class='profile-edit-box'>
                <%= raw sprintf(
                  f.date_select(
                  :list_deadline_date, use_month_numbers: true, 
                  use_two_digit_numbers: true,
                  start_year: Time.now.year,
                  end_year: ( Time.now.year + 100 ),
                  selected: Date.today,
                  date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>"
                %>
                </div>
            </div>
            <div class="profile-box time-select-group">
              <div class='profile-title'>
                <label class="form-text">リマインドする時刻※必須</label>
              </div>
              <div class='profile-edit-box'>
                <%= raw sprintf(
                  f.time_select(
                    :list_deadline_time, minute_step: 15, 
                    selected: Date.today + 10.hour,
                    time_separator: '%s' ),
                    "<p> 時 </p>") + "<p> 分 </p>"
                 %>
              </div>
            </div>
            <%# /list_list_deadlineテーブルに保存する情報 %>

            <div class='register-btn'>
              <%= f.submit "リスト作成" ,class:"form-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

