<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="list-contents">
      <div class="list-category-title">
        <%= truncate(@list.category.category_name, :length => 17) %>
      </div>
        
      <h2 class="to-do">
        やりたい事
      </h2> 

      <div class="list-show-box">

        <%# リストの情報表示 %>
        <%= render "show_info" %>
        
        <%# リスト内プロセスの情報表示 %>
        <%= render "processes_list_has" %>


        <div class="list-show-btn">
          <%= link_to "リストを削除する",  profile_category_list_path(@user.profile.id, @category.id, @list.id), method: :delete, data: { confirm: '削除を実行すると、リストの情報や設定したリマインド、追加した感想などが全て削除されます。削除を実行しますか？' }, class:"list-show-btn-text" %>
        </div>
        <div class="sukima">
        </div>
        <div class="list-show-btn">
          <i class="fas fa-arrow-circle-left"></i>
          <%= link_to "戻る", profile_category_path(@user.profile.id, @category.id), class:"list-show-btn-text" %>
        </div>
      </div>
    </div> 
  </div>  
</div>