 <div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <h2>
      <%= @profile.nickname %>さんのプロフィール
    </h2>

    <div class="profile-show">

      <div class="profile-box">
        <div class="profile-title">ニックネーム</div>
        <div class="profile-content"><%= @profile.nickname %></div>
      </div>

      <div class="profile-box">
        <div class="profile-title">あなたが大切にしている言葉</div>
        <div class="profile-content"><%= @profile.precious_word %></div>
      </div>

      <div class="profile-box">
        <div class="profile-title">生年月日</div>
        <div class="profile-content">
          <%= @profile.birth_date.year %>年<%= @profile.birth_date.month %>月<%= @profile.birth_date.day %>日
        </div>
      </div>

      <div class="profile-box">
        <div class="profile-title">年齢</div>
        <div class="profile-content">
          <% if (@profile.birth_date.month == Date.today.month && @profile.birth_date.day >= Date.today.day) || @profile.birth_date.month >= Date.today.month %>
            <%= (Date.today.year - @profile.birth_date.year - 1) %>歳
          <% else %>
            <%= Date.today.year - @profile.birth_date.year  %>歳
          <% end %>
        </div>
      </div>

      <div class="element-btn">
        <%= link_to "プロフィールを編集する",  edit_profile_path(@profile.id), class: "element-btn-text" %>
      </div>
    </div>
  </div>
</div>  

  