<% if remind.action == "deadline" %>
  <div class="deadline-remind">
    <div class="action">リスト</div>
    <div class="remind-title">
      <%=link_to remind.list_deadline.list.list_title, profile_category_list_path(@user.profile.id, remind.list_deadline.list.category.id, remind.list_deadline.list.id) %>
    </div>
    <div>
      <%= remind.list_deadline.list_deadline_date.strftime('%Y/%m/%d') %>  <%= remind.list_deadline.list_deadline_time.strftime( "%H:%M" ) %>
    </div>
    <div>
      <%= link_to "確認", checked_profile_remind_path(@user.profile.id, remind.id) %>
    </div>
  </div>     
<% else %>
  <div class="remind-remind">
    <div class="action">プロセス</div>
    <div class="remind-title">
      <%=link_to remind.list_remind.list_remind_title, profile_category_list_list_remind_path(@user.profile.id, remind.list_remind.list.category.id, remind.list_remind.list.id, remind.list_remind.id) %>
    </div>
    <div>
      <%= remind.list_remind.list_remind_date.strftime('%Y/%m/%d') %>  <%= remind.list_remind.list_remind_time.strftime( "%H:%M" ) %>
    </div>
    <div>
      <%= link_to "確認", checked_profile_remind_path(@user.profile.id, remind.id) %>
    </div>
  </div> 
<% end %>