<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="contents">
      <%= form_with model: @list_remind, url: profile_category_list_list_remind_path(@user.profile.id, @category.id, @list.id, @list_remind.id), local: true do |f| %>
        <div class='form-wrap'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              やりたい事：<%= @list.list_title %>
            </h1>
          </div>
          <div class='form-header'>
            <h2 class='form-header-text'>
              プロセス編集
            </h2>
          </div>

          <%= render 'shared/error_messages', model: @list_remind %>
          
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">プロセスのタイトル※必須</label>
            </div>
            <%= f.text_area  :list_remind_title, class:"input-default", id:"list_remind_title", placeholder:"100文字以下", maxlength:"100", autofocus: true %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">プロセスの詳細</label>
            </div>
            <%= f.text_area  :list_remind_detail, class:"input-default", id:"list_remind_detail", placeholder:"詳細の内容を記録できます" %>
          </div>

          <div class='form-header'>
            <h2 class='form-header-text'>
              プロセスをリマインドする日
            </h2>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">日にち※必須</label>
            </div>
            <%= raw sprintf(
              f.date_select(
              :list_remind_date, use_month_numbers: true, 
              use_two_digit_numbers: true,
              start_year: Time.now.year,
              end_year: ( Time.now.year + 100 ),
              date_separator: '%s'),
              '年 ', '月 ') + '日' %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">リマインドする時刻※必須</label>
            </div>
            <%= f.time_select(:list_remind_time, minute_step: 15, selected: Date.today + 10.hour ) %>
          </div>

          <div class='register-btn'>
            <%= f.submit "入力した内容に変更する" ,class:"register-red-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

