<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="list-contents">
      <div class="list-category-title">
        <%= truncate(@list.list_title, :length => 17) %>
      </div>

      <h2 class="process-big-title">
        達成に向けたプロセス
      </h2>

      <div class="list-show-box">
        <div class="achieve-btn-big-box">
          <% if @list_remind.status == "unfinished" %>
            <div>
              <%= link_to '　　達成！', done_profile_category_list_list_remind_path( @user.profile.id, @category.id, @list.id, @list_remind.id), method: :post, class: "a-list-achieve-btn" %>
            </div>
          <% else %>
            <div>
              <%= link_to '未達成に戻す', done_profile_category_list_list_remind_path( @user.profile.id, @category.id, @list.id, @list_remind.id), method: :post, class: "a-list-achieve-btn" %>
            </div>
          <% end %>
        </div>

        <div class="sukima">
        </div>

        <% if @list_remind.status == "unfinished" %>
          <div class="list-show-btn">
            <%= link_to "編集する", edit_profile_category_list_list_remind_path( @user.profile.id, @category.id, @list.id, @list_remind.id), class:"list-show-btn-text" %>
          </div>
        <% else %>
          <div class="done-list-show-btn">
          </div>
        <% end %>

        <div class="list-show-content-box list-show-title">
          <% if @list_remind.status == "done" %>
            <div class="process-show-congratulations">
              Congratulations!!
            </div>
          <% end %>
          <div class="list-show-content-title">プロセスの概要</div>
          <div class="list-show-content-detail list-detail-box"><%= @list_remind.list_remind_title %></div>
        </div>

        <div class="list-show-content-box">
          <div class="list-show-content-title">プロセスの詳細</div>
          <div class="list-show-content-detail list-detail-box"><%= @list_remind.list_remind_detail%></div>
        </div>
        

        <div class="list-show-content-box">
          <div class="list-show-content-title">達成目標日</div>
          <div class="list-show-content-detail achieve-date">

            <%# 達成目標日時の年齢を表示 %>
            <div>
              <%= @list_remind.list_remind_date.year%>年<%= @list_remind.list_remind_date.month %>月<%= @list_remind.list_remind_date.day %>日
              (<% if ( @user.profile.birth_date.month == @list_remind.list_remind_date.month && @user.profile.birth_date.day >= @list_remind.list_remind_date.day ) || @user.profile.birth_date.month >= @list_remind.list_remind_date.month %>
                <%= @list_remind.list_remind_date.year - @user.profile.birth_date.year - 1 %>歳
              <% else %>
                <%= @list_remind.list_remind_date.year - @user.profile.birth_date.year %>歳
              <% end %>)
            </div>
            <%# //達成目標日時の年齢を表示 %>

            <div class="time-box">
              設定時刻 <%= @list_remind.list_remind_time.strftime( "%H:%M" ) %> 
            </div>
          </div>
        </div>

        <div class="list-show-btn">
          <%= link_to "削除する", profile_category_list_list_remind_path(@user.profile.id, @category.id, @list.id, @list_remind.id), method: :delete, data: { confirm: 'プロセスを削除します。よろしいですか？' }, class:"list-show-btn-text" %>
        </div>
        <div class="sukima">
        </div>
        <div class="list-show-btn">
          <i class="fas fa-arrow-circle-left"></i>
          <%= link_to "戻る", profile_category_list_path(@user.profile.id, @category.id, @list.id), class:"list-show-btn-text" %>
        </div>
      </div>
    </div> 
  </div>   
</div>