<body class="new-user-top">

  <%= render "categories/new_header" %>

  <div class="new-user-body">
    

    <h1>ログイン</h1>

    <div class="body-message">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"input-name", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class:"input-name", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class:"new-btn btn-text" %>
        </div>
      <% end %>
    </div>

    <div class="user-btn">
      <%= link_to  '新規登録はこちらから',  new_user_registration_path, class:"btn-text" %>
    </div>

    <div class="user-btn">
      <i class="fas fa-arrow-circle-left"></i>
      <%= link_to '戻る', root_path, class:"btn-text" %>
    </div>
  </div>

  <%= render "categories/new_footer" %>

</body>

