<div>
  <%= link_to @user.profile.nickname, profile_path(@user.profile.id) %>さん
</div>

<div>
  <%= link_to 'ログアウト', destroy_user_session_path , method: :delete  %>
</div>

<div>
  <%= link_to "ホームへ戻る", root_path %>
</div>

 
<div>
  <%= link_to "カテゴリー新規作成", new_profile_category_path(@user.profile.id) %>
</div> 
<%# ユーザーがカテゴリを持っている場合にリンクを表示する %>
<div>
  <%# <% if @user.profile.categories.present? %> %>
    <%# <%= link_to "リスト新規作成", new_profile_category_list_path(@user.profile.id, @user.profile.categories.first.id) %> %>
  <%# <% end %> %>
</div> 
<%# ユーザーがカテゴリとリストを持っている場合のみカレンダーを表示したい %>
<div>
  <%# <% if @user.profile.categories.present? %> %>
    <%# <% @user.profile.categories.each do |category| %> %>
      <%# <% if category.lists.present? %> %>
        <%# <%= link_to "カレンダーを見る",  profile_category_list_list_deadlines_path(category.profile.id, category.id, category.lists.first.id)  %> %>
        <%# <% if category.lists.present? then %> %>
          <%# <% break %>  %>
        <%# <% end %>      %>
      <%# <% end %> %>
    <%# <% end %> %>
  <%# <% end %> %>
</div>  