<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-contents">
    <div class="contents">
      <%= form_with model: @category, url: profile_category_path(@user.profile.id, @category.id),local: true do |f| %>
        <div class='form-wrap'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              カテゴリ名変更
            </h1>
          </div>

          <%= render 'shared/error_messages', model: @category %>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">カテゴリ名※必須</label>
            </div>
            <%= f.text_area  :category_name, class:"input-default", id:"category_name", placeholder:"", maxlength:"20", autofocus: true %>
          </div>

          <div class='register-btn'>
            <%= f.submit "カテゴリ名変更" ,class:"register-red-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>