<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="main-contents">
    <div class="category-contents">

      <div class="category-title-box">
        <div class="category-show-title">
          <%= @category.category_name %>
        </div>
        <div class="category-title-box-btn">
          <div>
            <div class="element-btn">
              <%= link_to "カテゴリ名変更",  edit_profile_category_path(@user.profile.id, @category.id), class:"element-btn-text" %>
            </div>
          </div>
          <div>
            <div class="element-btn">
              <%= link_to "削除",  profile_category_path(@user.profile.id, @category.id), method: :delete, data: { confirm: '削除を実行すると、カテゴリ内で作成したリストやプロセス、リマインドなどが全て削除されます。削除してよろしいですか？' },  class:"element-btn-text" %>
            </div>
          </div>
        </div>
      </div>

      <div class="category-show-contents-box">
        <div class="element-btn a-list-new">
          <%= link_to "新しいリストを作成する",  new_profile_category_list_path(@user.profile.id, @category.id), class:"element-btn-text" %>
        </div> 
        <ul class='lists-lists'>
          <%# 未達成のリストを時系列で一覧表示 %>
          <%= render "show_unfinished_index" %>

          <%# 達成済のリストを時系列で一覧表示 %>
          <%= render "show_done_index" %>
        </ul>
  
        <div class="return-box">
          <div class="sukima">
          </div>
          <div class="list-show-btn">
            <i class="fas fa-arrow-circle-left"></i>
            <%= link_to "戻る", root_path, class:"list-show-btn-text" %>
          </div>
        </div>
        
      </div>  
    </div>
  </div>
</div>

  