<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-contents">
    <div class="category-contents">
      <h2 class="title">
        <%= @category.category_name %>
      </h2>
      <%# カテゴリ内リストの総数表示 %>
      <div>
        カテゴリ内のリスト数：<%= @category.lists.length %>
      </div>
      <%# /カテゴリ内リストの総数表示 %>
      <div>
        <%= link_to "カテゴリ名を変更する",  edit_profile_category_path(@user.profile.id, @category.id) %>
      </div>
      <div>
        <%= link_to "カテゴリを削除する",  profile_category_path(@user.profile.id, @category.id), method: :delete, data: { confirm: '削除を実行すると、カテゴリ内で作成したリストやプロセス、リマインドなどが全て削除されます。削除してよろしいですか？' } %>
      </div>
      <div>
        <%= link_to "新しいリストを作成する",  new_profile_category_list_path(@user.profile.id, @category.id) %>
      </div>
    </div>
    <div class="list-contents">
      <ul class='list-lists'>
        <% if @lists.present? %>
          <% @lists.each do |list| %>
            <li class='list'>
              <div class='list-info'>
                <h3 class='list-title'>
                  <%= link_to list.list_title, profile_category_list_path( @user.profile.id, @category.id, list.id) %>
                </h3>
              </div>        
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div>
      <%= link_to "戻る", root_path %>
    </div>
  </div>
</div>

 