<!DOCTYPE html>
<html>
  <head>
    <title>Rerecoli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link rel="stylesheet" type="text/css" href="https://unpkg.com/sanitize.css"> 
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.min.js'></script>
    <%# <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/package.json'></script> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
